<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>매장 수정페이지</title>
  </head>
  <body>
    <div id="upt_container">
      <div class="brdupt">
        <div class="title">매장 수정페이지</div>
        <form action="/updatestore" method="post">
          <input type="hidden" name="num" value="<%- storeData.num %>" />
          <label for="name">매장명</label>
          <input type="text" name="name" value="<%- storeData.name %>" />
          <label for="name">시/도</label>
          <input type="text" name="sido" value="<%- storeData.sido %>" />
          <label for="name">시/구/군</label>
          <select
            class="delivery"
            name="delivery"
            required
            placeholder="배달여부"
          >
            <option value="" disabled selected>배달여부</option>
            <option value="가능">가능</option>
            <option value="불가능">불가능</option>
          </select>
          <input type="text" name="sigugun" value="<%- storeData.sigugun %>" />
          <label for="name">매장주소</label>
          <input type="text" name="address" value="<%- storeData.address %>" />
          <label for="hours">영업시간</label>
          <input type="text" name="hours" value="<%- storeData.hours %>" />
          <label for="name">매장전화번호</label>
          <input type="text" name="phone" value="<%- storeData.phone %>" />
          <button type="submit">게시글 수정</button>
        </form>
      </div>
    </div>
  </body>
</html>
