<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메뉴 페이지</title>
    <link href="/css/styles.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/countup.js/2.3.2/countUp.umd.min.js"
      integrity="sha512-Be9XaN4NvN8CVmbk4juf7JX2/87a7I37CX1WV37w+jyav4exBHDqHzmjs+Tbx7Dt2j9vpULDZNxcP0sZP03/WQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/hamburgers/1.2.1/hamburgers.min.css"
      integrity="sha512-+mlclc5Q/eHs49oIOCxnnENudJWuNqX5AogCiqRBgKnpoplPzETg2fkgBFVC6WYUVxYYljuxPNG8RE7yBy1K+g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link
      href="/themes/1/js-image-slider.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="/themes/1/js-image-slider.js" type="text/javascript"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
  </head>
  <body>
    <%- include("common/header.ejs") %>
    <div id="menusbg">
      <h2>Menus</h2>
    </div>
    <div id="menuscont">
      <% for(let i=0; i< menuData.length; i++) { %>
      <div class="card">
        <img src="/upload/<%- menuData[i].thumbnail %>" />
        <a
          href="/menudetail/<%- menuData[i].num %>"
          data-number="<%- menuData[i].num %>"
          ><p><%- menuData[i].name %></p>
        </a>
        <p><%- menuData[i].price %></p>
      </div>
      <% } %>
    </div>
    <div class="menuBg"></div>
    <div id="detailcont">
      <a class="modal_close">
        <img src="/img/icon_close2.png" />
      </a>
      <img class="leftimg" src="" />
      <div class="context">
        <h2 class="title"></h2>
        <p class="content"></p>
        <h3 class="phrase">함께 먹으면 더 맛있는 메뉴</h3>
        <div class="detailcard"></div>
      </div>
    </div>

    <%- include("common/footer.ejs") %>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      let closeBtn = document.querySelector("#detailcont .modal_close img");
      closeBtn.addEventListener("click", function () {
        menuBg.classList.toggle("on");
        card.innerHTML = "";
        detailCont.classList.toggle("on");
      });
    </script>
    <script>
      let clickBtn = document.querySelectorAll("#menuscont .card a");
      let card = document.querySelector("#detailcont .context .detailcard");
      let menuBg = document.querySelector(".menuBg");
      let detailCont = document.querySelector("#detailcont");

      clickBtn.forEach((item, index) => {
        item.addEventListener("click", (e) => {
          detailCont.classList.toggle("on");
          e.preventDefault();
          menuBg.classList.toggle("on");
          axios
            .get("/menudetail/" + item.getAttribute("data-number"))
            .then(function (response) {
              // handle success
              document.querySelector("#detailcont .content").innerHTML =
                response.data.menuData.content;
              document
                .querySelector("#detailcont .leftimg")
                .setAttribute(
                  "src",
                  "/upload/" + response.data.menuData.thumbnail
                );
              console.log(response.data);
              let recomData = response.data.recomData;
              recomData.forEach((item, index) => {
                console.log(index);
                let img = `<img src="/upload/${response.data.recomData[index].thumbnail}">`;
                card.innerHTML += img;
              });
            })
            .catch(function (error) {
              // handle error
              console.log(error);
            });
        });
      });
    </script>
    <script></script>
  </body>
</html>
